@if (error$ | async) {
<br />
<nz-alert nzType="error" [nzMessage]="(error$ | async)?.message"></nz-alert>
}
<br />
<form nz-form nzLayout="vertical" [formGroup]="form">
  <nz-form-item>
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input [formControl]="form.controls.searchName" (keyup.enter)="onEnter()" placeholder="Search by name" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><nz-icon nzType="search" (click)="search()" /></button>
      &nbsp;&nbsp;
      <button nz-button nzType="primary" (click)="load()">Refresh</button>
    </ng-template>
  </nz-form-item>
</form>
<br />
<nz-table nzTemplateMode>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Leave Days</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    @for (employee of employees$ | async; track employee.id) {
    <tr>
      <td>{{ employee.name }}</td>
      <td>{{ employee.totalLeaveDays }}</td>
      <td><button nz-button nzType="default" (click)="edit(employee.id)">✏️ Edit</button></td>
    </tr>
    }
  </tbody>
</nz-table>
